# Use direnv to automatically load environment variables from this file
# Copy this file to `.env` and edit it to your needs
export RUST_SP_DIR=Features/FFA/FfaFeaturePkg/SecurePartitions/MsSecurePartitionRust